{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load provider %}

{% block main_nav_mycustomers %}active{% endblock %}



{% block content %}
<h1>{% trans 'My Customers' %}</h1>

<ul class="nav nav-pills pull-right visible-desktop">
	{% for sort in sort_choices %}
		<li {% if sort.2 %}class="active"{% endif %}><a href="{{ sort.1 }}">{{ sort.0 }}</a></li>
	{% endfor %}
    </ul>
<ul class="nav nav-tabs">

	<li class="active">
		<a href="{% url 'mycustomers' %}">{% trans 'Customers' %}</a>
	</li>
    <li>
     	<a href="{% url 'mynotifications' %}">{% trans 'Customer notifications' %}</a>
     </li>
</ul>

	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-list">
				<form action="">
					<input type="text" name="q" placeholder="{% trans "Search" %}" value="{% if q %}{{ q }}{% endif %}" style="width: 100%" />
					{% if sor != 'date' %}<input type="hidden" name="sort" value="{{ sor }}"/>{% endif %}
				</form>
				<li class="nav-header hidden-desktop">{% trans "Order by" %}</li>
				{% for sort in sort_choices %}
					<li class="hidden-desktop {% if sort.2 %}active{% endif %}"><a href="{{ sort.1 }}">{{ sort.0 }}</a></li>
				{% endfor %}
			</ul>
			<br/>
		</div>
		<div class="span10">
			{% if customers %}

                <div >
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    {% trans 'Name' %}
                                </th>
                                <th>
                                    {% trans 'Phone' %}
                                </th>
                                <th>
                                    {% trans 'E-mail' %}
                                </th>
                                <th>
                                    {% trans 'Last reservation' %}
                                </th>
                                <th>
                                    {% trans 'Number of res.' %}
                                </th>
                                <th>
                                    {% trans 'Actions' %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <td data-title="{% trans 'Name' %}">
                                        {{ customer.full_name }}
                                    </td>
                                    <td data-title="{% trans 'Phone' %}">
                                        {{ customer.phone }}
                                    </td>
                                    <td data-title="{% trans 'E-mail' %}">
                                        {{ customer.email }}
                                    </td>
                                    <td data-title="{% trans 'Last reservation date' %}">
                                        {% if customer.last_reservation %}{{ customer.last_reservation.date }}{% else %}{% trans 'No reservation made' %}{% endif %}
                                    </td>
                                    <td data-title="{% trans 'Reservations' %}">
                                        {{ customer.number_of_reservations }}
                                    </td>
                                    <td data-title="{% trans 'Actions' %}">

                                        <a class="btn" href="{% url 'editcustomer' customer.id %}">{% trans "Edit" %}</a>
                                        {% if customer.number_of_reservations > 0 %}
                                            <a class="btn btn-primary" href="{% url 'customerreservations' customer.id %}">{% trans "History" %}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>



				{% with customers as paginator %}
					{% include "browse/pagination.html" %}
				{% endwith %}
			{% else %}
				{% trans "No customers found." %}
			{% endif %}
		</div>

	</div>
    <div class="form-actions">
                    <a class="btn btn-primary" href="{% url 'addcustomer' %}">{% trans "Add customer" %}</a>
         </div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
   
{% endblock %}