{% extends 'main.html' %}

{% block main_nav_mynotifications %}active{% endblock %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% load provider %}


{% block content %}
    <h1>{% trans 'Notifications' %}</h1>


<form method="POST" action="">
    <input type="hidden" name="step" value="1" />
    <div id="no-more-tables">
        {% csrf_token %}
        {{ conditionsForm | as_bootstrap }}

        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="action">{% trans 'Send e-mail' %}</button>

        </div>
    </div>
</form>


{% endblock %}

