{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_reservations %}active{% endblock %}

{% block content %}

<h1>{% trans 'My Reservations' %}</h1>

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="{% url 'myreservations_calendar' %}">{% trans 'Calendar' %}</a>
		</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            All Reservations
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li> <a href="{% url 'myreservations_table' %}">{% trans 'All time' %}</a> </li>
               <li><a href="{% url 'myreservations_thisweek' %}">{%  trans 'This week' %}</a></li>
               <li><a href="{% url 'myreservations_nextweek' %}">{%  trans 'Next week' %}</a></li>
            </ul>
        </li>
		{% if res_confirm == True %}
			<li>
			<a href="{% url 'myunconfirmedreservations' %}">{% trans 'Unconfirmed reservations' %}</a>
		</li>
		{% endif %}
    </ul>

	<a href="{% url 'gcal' %}">{% trans "Google Calendar sync settings" %}</a>

{% endblock %}
