{% extends 'main.html' %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block main_nav_reservations %}active{% endblock %}

{% block content %}

<link rel='stylesheet' type='text/css' href='static/js/fullcalendar-2.0.0/fullcalendar.css' />

<script type='text/javascript' src='static/js/fullcalendar-2.0.0/lib/jquery.min.js'></script>
<script type='text/javascript' src='static/js/fullcalendar-2.0.0/lib/jquery-ui.custom.min.js'></script>
<script type='text/javascript' src='static/js/fullcalendar-2.0.0/lib/moment.min.js'></script>
<script type='text/javascript' src='static/js/fullcalendar-2.0.0/fullcalendar.js'></script>
<script src="/static/js/koledar.js"></script>

<h1>{% trans 'My Reservations' %}</h1>

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="{% url 'myreservations_calendar' %}">{% trans 'Calendar' %}</a>
		</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            All Reservations
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li> <a href="{% url 'myreservations_table' %}">{% trans 'All time' %}</a> </li>
               <li><a href="{% url 'myreservations_thisweek' %}">{%  trans 'This week' %}</a></li>
               <li><a href="{% url 'myreservations_nextweek' %}">{%  trans 'Next week' %}</a></li>
            </ul>
        </li>
		{% if res_confirm == True %}
			<li>
			<a href="{% url 'myunconfirmedreservations' %}">{% trans 'Unconfirmed reservations' %}</a>
		</li>
		{% endif %}
    </ul>

    <div id="filtri">

        <label style="float: left;"> {% trans "Filter by emloyee" %} &nbsp </label>
        <select id="select_employee" style="float: left;">
           <option value="0"> {% trans "All employee" %} </option>
            {% for zaposlen in zaposleni %}
                <option value=" {{ zaposlen.id }}"> {{ zaposlen.first_name }} {{zaposlen.last_name}} </option>
            {% endfor %}
        </select>

        <label style="float: left;"> &nbsp &nbsp &nbsp {% trans "Filter by service" %} &nbsp </label>
        <select style="float: left" id="select_service">
            <option value="0"> {% trans "All services" %} </option>
            {% for storitev in storitve %}
                <option value="{{ storitev.id }}"> {{ storitev.name }} </option>
            {% endfor %}
        </select>

        <label style="float: left"> &nbsp &nbsp &nbsp {% trans "Show on calendar" %} &nbsp </label>
        <select id="show_on_calendar_sel">
            <option value="0"> {% trans "All" %} </option>
            <option value="1"> {% trans "Customers" %} </option>
            <option value="2"> {% trans "Employee" %} </option>
            <option value="3"> {% trans "Services" %} </option>
        </select>
    </div>

    <div id='calendar'></div>

	<a href="{% url 'gcal' %}">{% trans "Google Calendar sync settings" %}</a>
    <input type="hidden"  id="EventsUrl" value="{% url 'dogodki' %}" />
    <input type="hidden"  id="providerId" value="{{ provider_id }}" />
    <input type="hidden"  id="employeeTrasns" value="{% trans 'Employee' %}" />

{% endblock %}
